# Company Specific Items
# export COMPANY_SHORT=''

# Custom Tool Paths
# export PATH="$HOME/src/:$PATH"

# Chef
# export CHEF_ORGANIZATION=''
# export CHEF_DIR="$HOME/src/$COMPANY_SHORT/chef"
# export CHEF_COOKBOOK_DIR="$HOME/src/$COMPANY_SHORT/cookbooks"
# export CHEF_DATA_BAGS_DIR="$CHEF_DIR/data_bags"

# Github
# export GITHUB_ORGANIZATION=''

# AWS
# export AWS_PROFILE=''

# JIRA
export JIRA_PROJECTS="DEVOPS,OPS"


