# Secure Items

# DOMAIN
# export DOMAIN_USERNAME=''
# export DOMAIN_PASSWORD=''
# export DOMAIN_OVERRIDE_PASSWORD=''

# Github
# export GITHUB_USERNAME=''
# export GITHUB_TOKEN=''

# Jira
# export JIRA_API_TOKEN=''
